<section class="section-wrapper catalog">
        <div class="container">
            <h2 class="catalog-name">Catalog</h2>
            <ul class="catalog-list">
                <li class="catalog-list-item">
                    <div class="catalog-list-item-wrapper">
                        <picture>
                            <source media="(min-width: 1200px)" srcset="/img/catalog-img/garmin-fnx-dt.webp 1x, /img/catalog-img/garmin-fnx-dt@2x.webp 2x">
                            <source media="(min-width: 768px)" srcset="/img/catalog-img/garmin-fnx-tab.webp 1x, /img/catalog-img/garmin-fnx-tab@2x.webp 2x">
                            <source media="(max-width: 767px)" srcset="/img/catalog-img/garmin-fnx-mob.webp 1x, /img/catalog-img/garmin-fnx-mob@2x.webp 2x">
                            <img class="catalog-img"
                            class="catalog-img"
                            src="/img/catalog-img/garmin-fnx-mob.webp"
                            alt="Garmin Fenix 7X Pro Sapphire Solar...">
                        </picture>
                        <h3 class="catalog-list-item-name">Garmin Fenix 7X Pro Sapphire Solar</h3>
                        <p class="catalog-list-item-price">€500</p>
                    </div>
                </li>
                <li class="catalog-list-item">
                    <div class="catalog-list-item-wrapper">
                        <picture>
                            <source media="(min-width: 1200px)" srcset="/img/catalog-img/garmin-marq-dt.webp 1x, /img/catalog-img/garmin-marq-dt@2x.webp 2x">
                            <source media="(min-width: 768px)" srcset="/img/catalog-img/garmin-marq-tab.webp 1x, /img/catalog-img/garmin-marq-tab@2x.webp 2x">
                            <source media="(max-width: 767px)" srcset="/img/catalog-img/garmin-marq-mob.webp 1x, /img/catalog-img/garmin-marq-mob@2x.webp 2x">
                            <img class="catalog-img"
                            src="/img/catalog-img/garmin-marq-mob.webp"
                            alt="Garmin Marq Athlete">
                        </picture>
                        <h3 class="catalog-list-item-name">Garmin Marq Athlete</h3>
                        <p class="catalog-list-item-price">€450</p>
                    </div>
                </li>
                <li class="catalog-list-item">
                    <div class="catalog-list-item-wrapper">
                        <picture>
                            <source media="(min-width: 1200px)" srcset="/img/catalog-img/garmin-descent-dt.webp 1x, /img/catalog-img/garmin-descent-dt@2x.webp 2x">
                            <source media="(min-width: 768px)" srcset="/img/catalog-img/garmin-descent-tab.webp 1x, /img/catalog-img/garmin-descent-tab@2x.webp 2x">
                            <source media="(max-width: 767px)" srcset="/img/catalog-img/garmin-descent-mob.webp 1x, /img/catalog-img/garmin-descent-mob@2x.webp 2x">
                            <img class="catalog-img"
                            src="/img/catalog-img/garmin-descent-mob.webp"
                            alt="Garmin Descent MK1">
                        </picture>
                        <h3 class="catalog-list-item-name">Garmin Descent MK1</h3>
                        <p class="catalog-list-item-price">€680</p>
                    </div>
                </li>
                <li class="catalog-list-item">
                    <div class="catalog-list-item-wrapper">
                        <picture>
                            <source media="(min-width: 1200px)" srcset="/img/catalog-img/garmin-d2-dt.webp 1x, /img/catalog-img/garmin-d2-dt@2x.webp 2x">
                            <source media="(min-width: 768px)" srcset="/img/catalog-img/garmin-d2-tab.webp 1x, /img/catalog-img/garmin-d2-tab@2x.webp 2x">
                            <source media="(max-width: 767px)" srcset="/img/catalog-img/garmin-d2-mob.webp 1x, /img/catalog-img/garmin-d2-mob@2x.webp 2x">
                            <img class="catalog-img"
                            src="/img/catalog-img/garmin-d2-mob.webp"
                            alt="Garmin D2 Delta PX">
                        </picture>
                        <h3 class="catalog-list-item-name">Garmin D2 Delta PX</h3>
                        <p class="catalog-list-item-price">€380</p>
                    </div>
                </li>
                <li class="catalog-list-item hidden">
                    <div class="catalog-list-item-wrapper">
                        <picture>
                            <source media="(min-width: 1200px)" srcset="/img/catalog-img/garmin-fnx6-dt.webp 1x, /img/catalog-img/garmin-fnx6-dt@2x.webp 2x">
                            <source media="(min-width: 768px)" srcset="/img/catalog-img/garmin-fnx6-tab.webp 1x, /img/catalog-img/garmin-fnx6-tab@2x.webp 2x">
                            <source media="(max-width: 767px)" srcset="/img/catalog-img/garmin-fnx6-tab.webp 1x, /img/catalog-img/garmin-fnx6-tab@2x.webp 2x">
                            <img class="catalog-img"
                            src="/img/catalog-img/garmin-fnx6-tab.webp"
                            alt="Garmin Fenix 6 Pro Solar">
                        </picture>
                        <h3 class="catalog-list-item-name">Garmin Fenix 6 Pro Solar</h3>
                        <p class="catalog-list-item-price">€400</p>
                    </div>
                </li>
                <li class="catalog-list-item hidden">
                    <div class="catalog-list-item-wrapper">
                        <picture>
                            <source media="(min-width: 1200px)" srcset="/img/catalog-img/garmin-tube-dt.webp 1x, /img/catalog-img/garmin-tube-dt@2x.webp 2x">
                            <source media="(min-width: 768px)" srcset="/img/catalog-img/garmin-tube-tab.webp 1x, /img/catalog-img/garmin-tube-tab@2x.webp 2x">
                            <source media="(max-width: 767px)" srcset="/img/catalog-img/garmin-tube-tab.webp 1x, /img/catalog-img/garmin-tube-tab@2x.webp 2x">
                            <img class="catalog-img"
                            src="/img/catalog-img/garmin-tube-tab.webp"
                            alt="Tube Watch S42">
                        </picture>
                        <h3 class="catalog-list-item-name">Tube Watch S42</h3>
                        <p class="catalog-list-item-price">€395</p>
                    </div>
                </li>
            </ul>
        </div>
        <button type="button" class="catalog-unwrap-button hidden">Show more</button>
</section>
