<section id="catalog" class="section-wrapper catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-list-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/desktop/cat_watch1_desk.webp    1x,
              /img/catalog/desktop/cat_watch1_desk@2x.webp 2x
            "
            width="304"
            width="312"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/tablet/cat_watch1_tablet.webp    1x,
              /img/catalog/tablet/cat_watch1_tablet@2x.webp 2x
            "
            width="280"
            width="312"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/catalog/mobile/cat_watch1_mob.webp    1x,
              /img/catalog/mobile/cat_watch1_mob@2x.webp 2x
            "
            width="279"
            width="262"
          />
          <img
            src="/img/catalog/mobile/cat_watch1_mob.webp"
            alt="Garmin Fenix 7X Pro Sapphire Solar"
            width="279"
            width="262"
          />
        </picture>
        <h3 class="catalog-list-item-name">
          Garmin Fenix 7X Pro Sapphire Solar
        </h3>
        <p class="catalog-list-item-price">€500</p>
      </li>
      <li class="catalog-list-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/desktop/cat_watch2_desk.webp    1x,
              /img/catalog/desktop/cat_watch2_desk@2x.webp 2x
            "
            width="304"
            width="312"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/tablet/cat_watch2_tablet.webp    1x,
              /img/catalog/tablet/cat_watch2_tablet@2x.webp 2x
            "
            width="280"
            width="312"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/catalog/mobile/cat_watch2_mob.webp    1x,
              /img/catalog/mobile/cat_watch2_mob@2x.webp 2x
            "
            width="279"
            width="262"
          />
          <img
            src="/img/catalog/mobile/cat_watch2_mob.webp"
            alt="Garmin Marq Athlete"
            width="279"
            width="262"
          />
        </picture>
        <h3 class="catalog-list-item-name">Garmin Marq Athlete</h3>
        <p class="catalog-list-item-price">€450</p>
      </li>
      <li class="catalog-list-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/desktop/cat_watch3_desk.webp    1x,
              /img/catalog/desktop/cat_watch3_desk@2x.webp 2x
            "
            width="304"
            width="312"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/tablet/cat_watch3_tablet.webp    1x,
              /img/catalog/tablet/cat_watch3_tablet@2x.webp 2x
            "
            width="280"
            width="312"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/catalog/mobile/cat_watch3_mob.webp    1x,
              /img/catalog/mobile/cat_watch3_mob@2x.webp 2x
            "
            width="279"
            width="262"
          />
          <img
            src="/img/catalog/mobile/cat_watch3_mob.webp"
            alt="Garmin Descent MK1"
            width="279"
            width="262"
          />
        </picture>
        <h3 class="catalog-list-item-name">Garmin Descent MK1</h3>
        <p class="catalog-list-item-price">€680</p>
      </li>
      <li class="catalog-list-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/desktop/cat_watch4_desk.webp    1x,
              /img/catalog/desktop/cat_watch4_desk@2x.webp 2x
            "
            width="304"
            width="312"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/tablet/cat_watch4_tablet.webp    1x,
              /img/catalog/tablet/cat_watch4_tablet@2x.webp 2x
            "
            width="280"
            width="312"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/catalog/mobile/cat_watch4_mob.webp    1x,
              /img/catalog/mobile/cat_watch4_mob@2x.webp 2x
            "
            width="279"
            width="262"
          />
          <img
            src="/img/catalog/mobile/cat_watch4_mob.webp"
            alt="Garmin D2 Delta PX"
            width="279"
            width="262"
          />
        </picture>
        <h3 class="catalog-list-item-name">Garmin D2 Delta PX</h3>
        <p class="catalog-list-item-price">€380</p>
      </li>
      <li class="catalog-list-item hidden">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/desktop/cat_watch5_desk.webp    1x,
              /img/catalog/desktop/cat_watch5_desk@2x.webp 2x
            "
            width="304"
            width="312"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/tablet/cat_watch5_tablet.webp    1x,
              /img/catalog/tablet/cat_watch5_tablet@2x.webp 2x
            "
            width="280"
            width="312"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/catalog/mobile/cat_watch5_mob.webp    1x,
              /img/catalog/mobile/cat_watch5_mob@2x.webp 2x
            "
            width="279"
            width="262"
          />
          <img
            src="/img/catalog/mobile/cat_watch5_mob.webp"
            alt="Garmin Fenix 6 Pro Solar"
            width="279"
            width="262"
          />
        </picture>
        <h3 class="catalog-list-item-name">Garmin Fenix 6 Pro Solar</h3>
        <p class="catalog-list-item-price">€400</p>
      </li>
      <li class="catalog-list-item hidden">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/desktop/cat_watch6_desk.webp    1x,
              /img/catalog/desktop/cat_watch6_desk@2x.webp 2x
            "
            width="304"
            width="312"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/tablet/cat_watch6_tablet.webp    1x,
              /img/catalog/tablet/cat_watch6_tablet@2x.webp 2x
            "
            width="280"
            width="312"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/catalog/mobile/cat_watch6_mob.webp    1x,
              /img/catalog/mobile/cat_watch6_mob@2x.webp 2x
            "
            width="279"
            width="262"
          />
          <img
            src="/img/catalog/mobile/cat_watch6_mob.webp"
            alt="Tube Watch S42"
            width="279"
            width="262"
          />
        </picture>
        <h3 class="catalog-list-item-name">
          Tube Watch S42 Date Steel With Black Case
        </h3>
        <p class="catalog-list-item-price">€395</p>
      </li>
    </ul>
  </div>
  <button type="button" class="catalog-unwrap-button">Show more</button>
</section>
