<footer class="section-wrapper footer">
  <div class="footer-wrapper">
    <div class="logo-footer-wrapper">
      <div>
        <a class="logo-footer">watchcharm</a>
        <ul class="footer-link-list">
          <li>
            <a
              href="https://www.facebook.com/goITclub/"
              class="footer-link-media"
              ><svg class="footer-media-icon">
                <use href="/img/sprite.svg#fb"></use></svg
            ></a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/goitclub/"
              class="footer-link-media"
              ><svg class="footer-media-icon">
                <use href="/img/sprite.svg#ig"></use></svg
            ></a>
          </li>
          <li>
            <a href="https://www.youtube.com/c/GoIT" class="footer-link-media"
              ><svg class="footer-media-icon">
                <use href="/img/sprite.svg#yt"></use></svg
            ></a>
          </li>
        </ul>
      </div>
      <a href="tel:+380684439426" class="number-link number-wrap"
        >+380 (68) 443-94-26</a
      >
      <p class="footer-title">
        Have the time of your life with our watches: where high-class
        craftsmanship meets impeccable design
      </p>
    </div>
    <div class="menu-wrap">
      <ul class="menu-footer-list">
        <li><a href="#" class="menu-footer-item">Home</a></li>
        <li><a href="#" class="menu-footer-item">About Us</a></li>
        <li><a href="#" class="menu-footer-item">Catalog</a></li>
        <li><a href="#" class="menu-footer-item">Sale</a></li>
        <li><a href="#" class="menu-footer-item">Reviews</a></li>
        <li><a href="#" class="menu-footer-item">Contact Us</a></li>
      </ul>
      <p class="adress-text">1678 S. Pioneer Road Salt Lake City UT 84104</p>
    </div>
    <hr class="footer-vector" />
    <div class="footer-services-wrap">
      <p class="footer-text">&copy;2023 The Watch Spot. All rights reserved.</p>
      <ul class="footer-services-list">
        <li><a href="#" class="footer-services-link">Terms of Service</a></li>
        <li><a href="#" class="footer-services-link">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</footer>
