<header id="header" class="section-wrapper header">
  <div class="container header-container">
    <a href="./index.html" class="logo">watchcharm</a>
    <nav>
      <ul class="header-nav-link-flex">
        <li>
          <a href="./index.html" class="header-nav-link active-link" onclick="setActiveLink(event)">Home</a>
        </li>
        <li>
          <a href="#about" class="header-nav-link" onclick="setActiveLink(event)">About Us</a>
        </li>
        <li>
          <a href="#catalog" class="header-nav-link" onclick="setActiveLink(event)">Catalog</a>
        </li>
        <li>
          <a href="#sale" class="header-nav-link" onclick="setActiveLink(event)">Sale</a>
        </li>
        <li>
          <a href="#reviews" class="header-nav-link" onclick="setActiveLink(event)">Reviews</a>
        </li>
        <li>
          <a href="#contact" class="header-nav-link" onclick="setActiveLink(event)">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="header-social-links-list">
      <li class="header-social-links-item">
        <a class="link" href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer"
          aria-label="facebook">
          <svg class="social-icon" width="20" height="20">
            <use href="img/sprite.svg#fb"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-links-item">
        <a class="link" href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer"
          aria-label="instagram">
          <svg class="social-icon" width="20" height="20">
            <use href="img/sprite.svg#ig"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-links-item">
        <a class="link" href="https://www.youtube.com/c/GoIT" rel="noopener noreferrer" aria-label="youtube"
          target="_blank">
          <svg class="social-icon" width="20" height="20">
            <use href="img/sprite.svg#yt"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button type="button" class="open-menu" aria-label="open menu button" onclick="showDiv(event)">
      <svg class="header-burger-icon" width="34" height="16" viewBox="0 0 34 18">
        <use href="img/sprite.svg#menu"></use>
      </svg>
    </button>
  </div>
</header>