<section class="section-wrapper hero">
    <div class="hero-page">
        <h1 class="hero-title">Welcome to our <span class="hero-title-span">collection</span> of premium watches</h1>
        <p class="hero-text">Our watches are not just timepieces, but also an expression of your
                personality and lifestyle. From classic designs to modern ones, 
                we have a watch to suit every taste and occasion.</p>
    </div>
    
    <div class="hero-box"> 
        <ul class="hero-list-menu">
            <li class="hero-item-image"><img src="/images/ellipse-21.png" alt="ellipse-21"></li>
            <li class="hero-item-image"><img src="/images/ellipse-22.png" alt="ellipse-22"></li>
            <li class="hero-item-image"><img src="/images/ellipse-23.png" alt="ellipse-23"></li>
        </ul>
        <a href="./footer">Scroll down</a>
        </div>
       
       <div class="hero-image"></div>
    </section>
</section>
