<section class="section-wrapper hero">
  <div class="container hero-container">
    <div class="hero-page">
      <h1 class="hero-title">
        Welcome to our <span class="hero-title-span">collection</span> of
        premium watches
      </h1>
      <p class="hero-text">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>
    <div class="hero-box">
      <ul class="hero-list-menu">
        <li class="hero-item-image">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/images-hero/ellipse21-desktop1x.png 1x,
                /img/images-hero/ellipse21-desktop2x.png 2x
              "
              width="60"
              height="60"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/images-hero/ellipse21-tablet1x.png 1x,
                /img/images-hero/ellipse21-tablet2x.png 2x
              "
              width="56"
              height="56"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                img/images-hero/ellipse21-mobile1x.png  1x,
                /img/images-hero/ellipse21-mobile2x.png 2x
              "
              width="44"
              height="44"
            />
            <img
              src="/img/images-hero/ellipse21-mobile1x.png"
              alt="ellipse-21"
              width="44"
              height="44"
            />
          </picture>
        </li>
        <li class="hero-item-image">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/images-hero/ellipse22-desktop1x.png 1x,
                /img/images-hero/ellipse22-desktop2x.png 2x
              "
              width="60"
              height="60"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/images-hero/ellipse22-tablet1x.png 1x,
                /img/images-hero/ellipse22-tablet2x.png 2x
              "
              width="56"
              height="56"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                img/images-hero/ellipse22-mobile1x.png  1x,
                /img/images-hero/ellipse22-mobile2x.png 2x
              "
              width="44"
              height="44"
            />
            <img
              src="/img/images-hero/ellipse22-mobile1x.png"
              alt="ellipse-22"
              width="44"
              height="44"
            />
          </picture>
        </li>
        <li class="hero-item-image">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/images-hero/ellipse23-desktop1x.png 1x,
                /img/images-hero/ellipse23-desktop2x.png 2x
              "
              width="60"
              height="60"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/images-hero/ellipse23-tablet1x.png 1x,
                /img/images-hero/ellipse23-tablet2x.png 2x
              "
              width="56"
              height="56"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/images-hero/ellipse23-mobile1x.png 1x,
                /img/images-hero/ellipse23-mobile2x.png 2x
              "
              width="44"
              height="44"
            />
            <img
              src="/img/images-hero/ellipse23-mobile1x.png"
              alt="ellipse-23"
              width="44"
              height="44"
            />
          </picture>
        </li>
      </ul>
      <a class="hero-scrol" href="#footer">Scroll down</a>
    </div>
    <div class="hero-image">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/images-hero/rectangle-desktop1x.png 1x,
            /img/images-hero/rectangle-desktop2x.png 2x
          "
          width="1150"
          height="500"
        />

        <source
          media="(min-width: 768px)"
          srcset="
            /img/images-hero/rectangle-tablet1x.png 1x,
            /img/images-hero/rectangle-tablet2x.png 2x
          "
          width="704"
          height="520"
        />

        <source
          media="(max-width: 767px)"
          srcset="
            /img/images-hero/rectangle-mobile1x.png 1x,
            /img/images-hero/rectangle-mobile2x.png 2x
          "
          width="335"
          height="366"
        />

        <img
          class="hero-img-rec"
          src="/img/images-hero/rectangle-mobile1x.png"
          alt="hero watch img"
          width="335"
          height="366"
        />
      </picture>
    </div>
  </div>
</section>
