<section class="section-wrapper reviews">
    <div class="container">
        <h2 class="reviews-title">Reviews</h2>
        <ul class="reviews-list">
            <li class="reviews-item">
                <picture>
                    <source 
                    srcset="
                    /src/img/reviews/john.webp 1x
                    /src/img/reviews/john@2x.webp 2x">
                    <img src="/src/img/reviews/john.webp" alt="john" class="reviews-img" width="56" height="56">
                </picture>
                <div class="reviews-description">
                    <h3 class="reviews-name">John Wax</h3>
                    <p class="reviews-text">Buying a watch from was the best choice for me. The design is perfectly combined with high quality materials. The strap fits nicely on the hand, and the mechanism works flawlessly.</p>
                </div>
            </li>
            <li class="reviews-item">
                <picture>
                    <source 
                    srcset="
                    /src/img/reviews/victoria.webp 1x
                    /src/img/reviews/victoria@2x.webp 2x">
                    <img src="/src/img/reviews/victoria.webp" alt="victoria" class="reviews-img" width="56" height="56">
                </picture>
                <div class="reviews-description">
                    <h3 class="reviews-name">Victoria Romashenko</h3>
                    <p class="reviews-text">Can't take my eyes off my watch from. Every time I put it on, it is admired by those around me. The build quality and attention to detail make it a real gem among my accessories.</p>
                </div>
            </li>
            <li class="reviews-item">
                <picture>
                    <source 
                    srcset="
                    /src/img/reviews/anastasia.webp 1x
                    /src/img/reviews/anastasia@2x.webp 2x">
                    <img src="/src/img/reviews/anastasia.webp" alt="anastasia" class="reviews-img" width="56" height="56">
                </picture>
                <div class="reviews-description">
                    <h3 class="reviews-name">Anastasia Trachuk</h3>
                    <p class="reviews-text">My watch from is a real masterpiece. Every detail impresses with the high quality of execution. Special features like [specify features] make it an indispensable companion in my daily life.</p>
                </div>
            </li>
        </ul>
    </div>
</section>
