<section class="section-wrapper sale">
  <div class="container flexy">
    <h2 class="sale_title">Sale</h2>
    <div class="sale_box">
      <ul class="sale_list">
        <li class="sale_item">
          <picture>
            <source
              srcset="
                /img/sale/desc_tablet/sale_first-watch_desc-tabl.png    1x,
                /img/sale/desc_tablet/sale_first-watch_desc-tabl@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <!-- <source
                srcset="
                  /img/sale/desc_tablet/sale_first-watch_mobile.png    1x,
                  /img/sale/desc_tablet/sale_first-watch_mobile@2x.png 2x
                "
                media="(max-width: 767px)"
              /> -->
            <img
              class="sale_list-images"
              src="/img/sale/mobile/sale_first-watch_mobile.png"
              alt="First watch"
              width="52"
              height="54"
            />
          </picture>
        </li>
        <li class="sale_item">
          <picture>
            <source
              srcset="
                /img/sale/desc_tablet/sale_second-watch_desc-tabl.png    1x,
                /img/sale/desc_tablet/sale_second-watch_desc-tabl@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <!-- <source
                srcset="
                  /img/sale/desc_tablet/sale_second-watch_mobile.png    1x,
                  /img/sale/desc_tablet/sale_second-watch_mobile@2x.png 2x
                "
                media="(max-width: 767px)"
              /> -->
            <img
              class="sale_list-images"
              src="/img/sale/mobile/sale_second-watch_mobile.png"
              alt="Second watch"
              width="52"
              height="54"
            />
          </picture>
        </li>
        <li class="sale_item">
          <picture>
            <source
              srcset="
                /img/sale/desc_tablet/sale_third-watch_desc-tabl.png    1x,
                /img/sale/desc_tablet/sale_third-watch_desc-tabl@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <!-- <source
                srcset="
                  /img/sale/desc_tablet/sale_third-watch_mobile.png    1x,
                  /img/sale/desc_tablet/sale_third-watch_mobile@2x.png 2x
                "
                media="(max-width: 767px)"
              /> -->
            <img
              class="sale_list-images"
              src="/img/sale/mobile/sale_third-watch_mobile.png"
              alt="Third watch"
              width="52"
              height="54"
            />
          </picture>
        </li>
        <li class="sale_item">
          <picture>
            <source
              srcset="
                /img/sale/desc_tablet/sale_last-watch_desc-tabl.png    1x,
                /img/sale/desc_tablet/sale_last-watch_desc-tabl@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <!-- <source
                srcset="
                  /img/sale/desc_tablet/sale_last-watch_mobile.png    1x,
                  /img/sale/desc_tablet/sale_last-watch_mobile@2x.png 2x
                "
                media="(max-width: 767px)"
              /> -->
            <img
              class="sale_list-images"
              src="/img/sale/mobile/sale_last-watch_mobile.png"
              alt="Last watch"
              width="52"
              height="54"
            />
          </picture>
        </li>
      </ul>
      <div class="sale_main-product-img_box">
        <picture>
          <source
            srcset="
              /img/sale/desc_tablet/sale_main-watch_desc-tabl.png    1x,
              /img/sale/desc_tablet/sale_main-watch_desc-tabl@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="sale_main-image"
            srcset="
              /img/sale/mobile/sale_main-watch_mobile.png    1x,
              /img/sale/mobile/sale_main-watch_mobile@2x.png 2x
            "
            src="../img/sale/mobile/sale_main-watch_mobile.png"
            alt="main watch product"
            width="235"
            height="285"
          />
        </picture>
      </div>
      <div class="sale_descr-box">
        <h3 class="sale_descr-title">
          MARQ&#169; Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="sale_descr_prod-tag">Product tag: 706587</p>
        <ul class="sale_price-list">
          <li class="sale_current-price">&#8364;1500</li>
          <li class="sale_real-price">&#8364;3000</li>
        </ul>
        <p class="sale_prod-descr">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale_descr-tags_list">
          <li class="sale_descr-tags_item">Fused carbon fiber</li>
          <li class="sale_descr-tags_item">Grade-5 Titanuim</li>
          <li class="sale_descr-tags_item">Athlete</li>
          <li class="sale_descr-tags_item">Golfer</li>
          <li class="sale_descr-tags_item">Commander</li>
          <li class="sale_descr-tags_item">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
