/* C A T A L O G    M O B I L E */

.catalog-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
  color: var(--main);
}
.catalog-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.catalog-list-item {
  background-color: var(--cards);
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  padding: 24px 28px;
  width: 100%;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
}
.catalog-list-item:nth-child(5),
.catalog-list-item:nth-child(6) {
  display: none;
}

.catalog-list-item-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  margin-top: 10px;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.catalog-list-item-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

.catalog-unwrap-button {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  margin: 40px auto 0;
  padding: 15px 44px;
  border-radius: 16px;
  border-color: transparent;
  min-width: 160px;
  min-height: 48px;
  background-color: var(--accent);
  color: var(--background);
}

/* C A T A L O G    T A B L E T */

@media only screen and (min-width: 768px) {
  .catalog-title {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }

  .catalog-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 32px;
  }

  .catalog-list-item {
    width: calc((100% - 16px) / 2);
    padding: 24px 32px;
  }

  .catalog-list-item-name {
    font-size: 20px;
    line-height: 1;
  }

  .catalog-list-item:nth-child(5),
  .catalog-list-item:nth-child(6) {
    display: flex;
  }

  .catalog-unwrap-button {
    display: none;
  }
}

/* C A T A L O G    D E S K T O P */

@media only screen and (min-width: 1280px) {
  .catalog-list-item {
    width: calc((100% - 46px) / 3);
  }
  .catalog-list {
    column-gap: 23px;
    row-gap: 32px;
  }
}
