
 /* C A T A L O G    M O B I L E */
 
 .catalog .container {
    padding: 0;
}

.catalog-name {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
    color: #0C0C0C;

}
.catalog-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    min-width: 335px;
}

.catalog-list-item {
    background-color: #F3F3F3;
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    padding-bottom: 24px;
    min-width: 335px;
}

.catalog-list-item-wrapper img {
   margin: 0 auto;
}

.catalog-list-item-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #0C0C0C;

    margin-left: 28px;
    margin-bottom: 8px;
   
}

.catalog-list-item-price {
  margin-left: 28px;  
} 

.catalog-list-item.hidden {
    display: none;
}

.catalog-unwrap-button {
    display: block;
    margin: 40px auto;
    margin-bottom: 0;

    border-radius: 16px;
    width: 160px;
    height: 48px;

    background-color: #3350E9;
    color: #FBFBFB;
}

/* C A T A L O G    T A B L E T */

@media only screen and (min-width: 768px) {
    .catalog-list-item.hidden {
        display:inline;
    }

    .catalog-name {
        margin-bottom: 40px;
    }

    .catalog-list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .catalog-unwrap-button.hidden {
        display: none;
    }
  
  }
  
/* C A T A L O G    D E S K T O P */

  @media only screen and (min-width: 1200px) {
    
  }
  