.hero-container {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  transition: all 500ms ease-out;
}

.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.hero-title-span {
  color: var(--accent);
}

.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.hero-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.hero-list-menu {
  display: flex;
}

.hero-item-image:not(:first-child) {
  margin-left: -12px;
}

.hero-scrol {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  background-color: var(--background);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scrol:hover,
.hero-scrol:focus {
  background-color: fff;
  color: var(--accent);
}

.hero-image {
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
  }

  .hero-title {
    font-size: 70px;
    line-height: 0.86;
    max-width: 557px;
  }

  .hero-text {
    max-width: 480px;
    font-size: 16px;
    line-height: 1.25;
  }
  .hero-box {
    flex-direction: column;
    margin: 0;
  }
  .hero-item-image:not(:first-child) {
    margin-left: -15px;
  }
  .hero-scrol {
    align-self: flex-end;
    font-size: 20px;
    line-height: 100%;
  }

  .hero-list-menu {
    align-self: flex-end;
  }
  .hero-image {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .hero-title {
    max-width: 597px;
    font-size: 72px;
    line-height: 87%;
    letter-spacing: -0.02em;
  }
  .hero-text {
    max-width: 480px;
  }
  .hero-item-image:not(:first-child) {
    margin-left: -16px;
  }
}
